@use "./assets/styles/base" as *;

.main {
  height: calc(100vh - 4rem);
  padding: 0.75rem 0.5rem;
  background-color: $main-bg;

  @include media(tablet) {
    height: calc(100vh - 4.5rem);
    padding: 1rem;
  }

  @include media(laptop) {
    width: calc(100vw - 4rem);
    height: 100vh;
    margin-left: auto;
  }

  @include media(desktop) {
    width: 100vw;
    height: calc(100vh - 3.5rem);
    margin-left: 0;
    padding: 2rem;
  }
}