// Breakpoints
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1200px;

// Layout

// Fonts
$font-sans-serif: Montserrat, Arial, sans-serif;
$font-serif: "Playfair Display", Georgia, serif;

// Colors
$main-bg: #fcf5ec;
$navbar-bg-primary: #23232e;
$navbar-bg-secondary: #141418;
$navbar-txt-primary: #1dadad;
$navbar-txt-secondary: #23232e;
$navbar-txt-third: #b6b6b6;
$navbar-item-active: #f5a001;

// Animations
$navbar-container-transition-speed: 200ms;
$navbar-icon-transition-speed: 300ms;